@keyframes move {
  0% {
    padding-left: 0px;
    opacity: 1;
  }
  90% {
    padding-left: 10px;
    opacity: 0;
  }
  100% {
    padding-left: 10px;
    opacity: 0;
  }
}
body {
  margin: 25px auto;
  width: 1170px;
}
button,
a {
  cursor: pointer !important;
  outline: none !important;
  border: none !important;
}
.header {
  display: flex;
}
.header h3 {
  font-family: "Prompt";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header .buttons {
  margin-left: 812px;
  margin-top: 7px;
}
.header .buttons button {
  font-family: "Inter";
  margin-right: 10px;
}
.header .buttons .number,
.header .buttons .log-in {
  background: #222222;
  background-size: 100% 200%;
  color: #ffffff;
  font-size: 15px;
  background-image: linear-gradient(to bottom, #444444 50%, black 50%);
  -webkit-transition: background-position 500ms;
  transition: background-position 500ms;
}
.header .buttons .sign-up {
  background: none;
  font-size: 15px;
  transition: all 500ms;
}
.header .buttons .number {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.header .buttons .log-in,
.header .buttons .sign-up {
  border-radius: 70px;
  width: 80px;
  height: 35px;
}
.header .buttons .number:hover,
.header .buttons .log-in:hover {
  background-position: 0 -100%;
}
.header .buttons .sign-up:hover {
  background: #000000;
  color: white;
}
.info-content {
  display: flex;
  margin-top: 30px;
  height: 380px;
  background-color: #5628d2;
  border-radius: 38px;
}
.info-content .info-text {
  margin-top: 85px;
  margin-left: 90px;
  flex: 0 0 230px;
  color: #ffffff;
  font-family: "Inter";
}
.info-content .info-text h2 {
  font-family: "Prompt";
  font-style: normal;
  font-weight: normal;
}
.info-content .info-text a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
a:hover .arrow {
  animation: move 1s infinite;
}
.info-content img {
  margin-left: 164.5px;
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
}
.filter {
  width: 200px;
  background: white;
}
.filter .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  font-family: "Inter";
}
.filter .row h3 {
  flex: 0 0 150px;
}
.filter .row .icons {
  flex: 1;
  background: none;
  padding: 0px;
  height: 18px;
  margin-top: 18px;
  color: #5628d2;
  font-weight: bold;
  font-size: 1.3rem;
}
.filter .row .subsection {
  display: flex;
  flex-wrap: wrap;
  max-height: 0;
  margin-top: -25px;
  overflow: hidden;
  transition: max-height 500ms ease;
}
.filter .row .subsection .sub-text {
  display: block;
  line-height: 1px;
  width: 100%;
  color: #333333;
  font-size: 0.7rem;
}
.filter .row .subsection .sub-text:first-child {
  padding-top: 8px;
}
.filter .row .subsection .sub-text:last-child {
  padding-bottom: 15px;
}
.search {
  width: 930px;
  margin-left: 40px;
  margin-top: 13px;
}
.search .searchBar {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  background-color: rgba(86, 40, 210, 0.1);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 20px;
  width: 550px;
}
.search .searchBar::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.48);
}
.apartments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.apartments .apartment {
  margin-right: 20px;
}
.apartments .apartment {
  position: relative;
  margin-top: 50px;
  font-family: "Inter";
}
.apartments .apartment h3 {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.apartments .apartment h6 {
  color: #777777;
  margin-top: 5px;
  margin-bottom: 10px;
}
.apartments .apartment .more {
  color: #333333;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
.apartments .apartment .material-icons.bIcon {
  background: none;
  color: #5628d2;
  position: absolute;
  left: 240px;
  bottom: 30px;
}